/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: blue ;
  --text-color: #3da9fc ;
background-color: white;

}

section {
  padding: 50px 10%;

}

img {
  width: 100%;
}

body {
  color: var(--text-color);

 
}

*::selection {
  color: #fff;
  background: var(--main-color);
}

/* Custom scroll Bar */
html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: #000000; */
  padding: 18px 10%;
  transition: 0.2s;
}

header.shadow {
  box-shadow: 0 0 4px rgb(14 55 54 / 15%);
}

.logo {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text-color);
  height: 100px;
  width: 100px;

}


.applogo{

height: 3px;

width: 2px;
}


.navbar {
  display: flex;

  background-color: white;


}

 
 
 
 
 





.navbar a {
  font-size: 1rem;
  padding: 10px 30px;
  color: var(--text-color);
  font-weight: 700;

  font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

 
 


}

 
.navbar a:hover {
 
   color: #fffffe;
  
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}





 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 


#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
  display: none;



}

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  align-items: center;
  gap: 1.5rem;
}

.home-text span {
  font-size: 1.4rem;
  font-weight: 600;
}

.home-text h1 {
  font-size: 4.4rem;
  color: var(--main-color);
  text-align:left;
color: blue;
  text-shadow: orange 2px 2px;
  
  
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 

}

 
 
 
 
 
 
 
 





.home-text h2 {
  font-size: 1.6rem;
  font-weight: bolder;
}

.home-text p {
  font-weight: 400;
  margin: 0.7rem 0 1rem;
}

.home-img {
  padding: 40px;
  border-radius: 50%;
 
 
 
    

width: 500px;
height: 500px;
}

 




.btn {
  display: inline-block;
  background: var(--text-color);
  padding: 0.8rem 2rem;
  color: #fff;
  font-weight: 500;
}

.btn:hover {
  background: var(--main-color);
  letter-spacing: 2px;
  transition: 0.2s;
  background-color: #8f0b0b;
  color: aqua;

}

.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  gap: 1.5rem;
 

}

.about-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-title h1 {
  color: var(--main-color);
  font-size: 1.7rem;
}

.about-title span,
.heading span {
  border-bottom: 3px solid var(--main-color);
}

.about-title h2 {
  font-size: 1rem;
  font-weight: 500;
}

.about-img {
  width: 150px;
  height: 150px;
  margin-top: 2rem;
 
}

.about-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
 
background-color: green;
}

.social {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.social a .bx {
  margin-right: 1rem;
  font-size: 24px;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  background: var(--text-color);
}

.social a .bx:hover {
  background: var(--main-color);
}

.about-text p {
  text-align: justify;
  margin-bottom: 1rem;
}

.heading {
  text-align: center;
}

.heading h1 {
  font-size: 1.7rem;
  font-weight: bolder;
  color: var(--main-color);
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.services-container .box {
  text-align: center;
  border: 2px solid var(--text-color);
  padding: 20px;
  border-radius: 0 2rem 0 0;
  box-shadow: 10px 11px 11px rgb(14 55 54 / 15%);
}

.services-container .box .bx {
  padding: 10px;
  color: #fff;
  font-size: 24px;
  background: var(--text-color);
  border-radius: 4px;
}

.services-container .box h2 {
  font-size: 1.1rem;
  margin: 1rem 0 0.5rem;
}

.services-container .box:hover {
  background: var(--text-color);
  color: #fff;
  transition: 0.2s;
}

.services-container .box:hover .bx {
  background: #fff;
  color: var(--text-color);
  transition: 0.2s;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.portfolio-container .box {
  position: relative;
  height: 220px;
  box-shadow: 10px 11px 11px rgb(14 55 54 / 15%);
  overflow: hidden;
  border-radius: 0.5rem;
color: #8f0b0b;

}

.portfolio-container .box .box-img {
  width: 100%;
  height: 100%;
}

.portfolio-container .box .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-container .box .content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
}

.portfolio-container .box .content .bx {
  padding: 10px;
  font-size: 24px;
  border-radius: 4px;
  background: black;
  color: var(--text-color);
color: rgb(0, 0, 255);

}

.portfolio-container .box .content h3 {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 10px;
}

.portfolio-container .box:hover .content {
  top: 0;
  transition: 0.2s;
}

.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.contact-form form {
  position: relative;
  width: 400px;
}

form input,
form textarea {
  width: 100%;
  padding: 14px;
  border: none;
  outline: none;
  background: rgb(28, 40, 68, 0.8);
  margin-bottom: 0.5rem;
  border-radius: 4px;
  color: #fff;
}

form input::placeholder,
form textarea::placeholder {
  color: #fff;
}

textarea {
  resize: none;
  height: 200px;
}

form .send-btn {
  max-width: 110px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

form .send-btn:hover {
  background: var(--main-color);
}

.copryight {
  padding: 20px;
  text-align: center;
  color: #fff;
  background: var(--text-color);
}

/* Making Responsive */
@media (max-width: 991px) {
  header {
    padding: 18px 4%;
  }

  section {
    padding: 50px 4%;
  }
}

@media (max-width: 881px) {
  .home-text span {
    font-size: 1.1rem;
  }

  .home-text h1 {
    font-size: 3rem;
  }

  .home-text h2 {
    font-size: 1.2rem;
  }

  .home-text p {
    font-size: 0.938rem;
  }
}

@media (max-width: 768px) {
  header {
    padding: 11px 4%;
  }

  #menu-icon {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease;
    text-align: left;
  }

  .navbar.active {
    top: 100%;
  }

  .navbar a {
    padding: 1rem;
    border-left: 2px solid var(--main-color);
    margin: 1rem;
    display: block;
  }

  .navbar a:hover {
    color: #fff;
    background: var(--text-color);
    border: none;
  }

  .home-text span {
    font-size: 1rem;
  }

  .home-text h1 {
    font-size: 2.4rem;
  }

  .home-text h2 {
    font-size: 1.1rem;
  }

  .home-text p br {
    display: contents;
  }
}

@media (max-width: 618px) {
  .home-img {
    padding: 10px;
  }
}

@media (max-width: 350px) {
  .home-text h1 {
    font-size: 2rem;
  }

  .home-text h2 {
    font-size: 1rem;
  }

  .btn {
    padding: 0.6rem 1.7rem;
  }

  .about-title h1 {
    font-size: 1.4rem;
  }

  .about-title h2 {
    font-size: 0.9rem;
  }

  .heading h1 {
    font-size: 1.4rem;
  }

  p {
    font-size: 0.938rem;
  }
}


.body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  transition: .4s;

 
 

}

.input {
  visibility: hidden;
}

.label {
  position: absolute;
  width: 80px;
  height: 40px;
  background-color: black;
  border-radius: 20px;
  cursor: pointer;

 
 
}

.circle {
  width: 34px;
  background-color: #3da9fc;
  height: 34px;
  border-radius: 50%;
  top: 3px;
  position: absolute;
  left: 3px;
  animation: toggleOff 0.4s linear forwards;



}

.input:checked+.label {
  background-color:#3da9fc ;
}

.input:checked+.label .circle {
  animation: toggleOn 0.4s linear forwards;
  background-color:black;
 color: yellow;
 font-family: 'Times New Roman', Times, serif;
 
}

@keyframes toggleOn {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(40px);
  }
}

@keyframes toggleOff {
  0% {
    transform: translateX(40px);
  }

  100% {
    transform: translateX(0);
  }
}

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;

}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 900px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
          
  right: 25px;
  font-size: 60px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: blue;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
  
 
 
 
 
 
 
 
 
 
 
 
 




  
  
  
  
 
 
 
 
 
  
  
  
  
  
 
 
 
 
 
 
 
 

 
 
 

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 ;
 
 
 
 
 
 ;
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 


 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 